html, body {
	margin: 0;
	padding: 0;
}

.container {
	width: 94%;
	max-width: 1180px;
	margin: 0 auto;
}

.main-block {
	text-align: center;
	margin-top: calc((100vh - 300px) / 2);
	padding: 90px 0;
	box-sizing: border-box;
	box-shadow: 0 0 8px 1px #000;
	border-radius: 10px;
}

.main-block h1,
.main-block h2 {
	color: #000;
	margin: 0;
	font-family: 'Emblema One', cursive;
	text-transform: uppercase;
}

.main-block h1 {
	display: inline-block;
	font-size: 0;
}

.main-block h1 > span {
	display: inline-block;
	font-size: 70px;
	line-height: 80px;
	cursor: default;
	transition: transform 0.2s linear;
}

.main-block h1 > span:nth-child(1),
.main-block h1 > span:nth-child(9) {
	font-size: 80px;
} 

.main-block h1 > span:hover {
	transform: translateY(-10px);
}

.main-block > div > span {
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	line-height: 80px;
}